* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$base-color: #89CFF0;
$table-odd-color: rgb(255, 249, 249);
$menu-bg-color: #d8d8d8d2;
$font-color: rgba(0, 0, 0, 0.747);
$box-shadow: 0 1px 6px grey;



body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 6em;
    height: 100vh;

    font-family: 'Poppins', sans-serif;
    color: $font-color;
    background-color: $base-color;
}
header {
    display: flex;
    flex-direction: column;
    padding: .75em;
    background-color: $menu-bg-color;

    h2 {
        margin: 1em auto 0;
        font-size: 1.5rem;

    }

    form {
        margin: 4em auto 0;
        gap: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: .25em;
        

        input {
            border-radius: .5em;
            text-align: center;
            height: 2em;
            border: none;
            box-shadow: $box-shadow;
        }
        div {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        div:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button {
            margin-top: 1em;
            font-family: inherit;
            padding: .25em 2em;
            border-radius: .5em;
            color: inherit;
            border: none;
            box-shadow: $box-shadow;
        }

    }
}
main {
    display: flex;
    justify-content: center;


    .library-container {
        width: 100%;
        margin-top: 6em;
        padding: 2em;

        table {
            width: 100%;
            text-align: center;

            tr:first-child {
                font-size: 1.4rem;
            }
            td {
                padding: .25em;
                border-radius: 5px;
            }
            tr:nth-child(even) {
                background-color: $table-odd-color;
            }
        }
    }
}